PORT=3000

VEHICLES_MS_PORT=3001
VEHICLES_MS_HOST=localhost

EVENTS_MS_PORT=3002
EVENTS_MS_HOST=localhost

USERS_MS_PORT=3003
USERS_MS_HOST=localhost

# Firebase auth configuration (set one of these options)
#FIREBASE_PROJECT_ID=project-id
FIREBASE_SERVICE_ACCOUNT_JSON='{"type": "service_account"}...'